<div class="container">
  <div class="row">
    <div class="col-xs-12">
     <h1><%= @costomer.full_name %>　さんの会員詳細</h1>
     <table class='table'>
      <thead>
        <tr>
          <th>顧客ID</th>
          <th><%= @costomer.id %></th>
          <th>
            <% if @costomer.is_deleted == false %>
              <p>有効会員</p>
            <% else %>
              <p>退会済み</p>
            <% end %>
          </th>
        </tr>
        <tr>
          <th>氏名</th>
          <th><%= @costomer.full_name %></th>
          <th></th>
        </tr>
        <tr>
          <th>フリガナ</th>
          <th><%= @costomer.full_name_kana %></th>
          <th></th>
        </tr>
        <tr>
          <th>郵便番号</th>
          <th><%= @costomer.postal_code %></th>
          <th></th>
        <tr>
          <th>住所</th>
          <th><%= @costomer.address %></th>
          <th></th>
        </tr>
        <tr>
          <th>電話番号</th>
          <th><%= @costomer.telephone_number %></th>
          <th></th>
        </tr>
        <tr>
          <th>メールアドレス</th>
          <th><%= @costomer.email %></th>
          <th></th>
        </tr>
          <th colspan="3"></th>
        </tr>
      </thead>
    </table>
      <%= link_to "注文履歴一覧を見る", admin_orders_path(costomer: @costomer.id) %>
     <%= link_to "編集する", edit_admin_costomer_path(@costomer.id), class: "btn btn-info active" %>
    </div>
  </div>
</div>

