<div class="container">
  <div class="row">
    <div class="col-xs-10 col-xs-offset-2">
      <h1>注文情報入力</h1> <br></br>
      <%= form_with model: @order, url: order_comfirm_path, local:true do |f| %>

        <h3><%= f.label :支払い方法 %></h3><br>
          <label><%= f.radio_button :payment_method, "クレジットカード", {:checked => true} %>クレジットカード</label><br>
          <label><%= f.radio_button :payment_method, "銀行振込" %>銀行振込</label> <br></br>

        <h3><%= f.label :お届け先 %></h3><br>


          <label><%=f.radio_button :city, "自分の住所", {:checked => true} %>ご自身の住所</label><br>

            <p><%= @costomer.postal_code %>　<%= @costomer.address %><br>
            <%= @costomer.full_name %></p></label></br>


            <label><%=f.radio_button :city, "登録した住所" %>登録済住所から選択</label><br>
            <%= f.collection_select :address_id, current_costomer.addresses, :id,:street %> <br></br>

            <label><%=f.radio_button :city, "新しい住所" %>新しいお届け先</label><br>
              <%= f.label :郵便番号（ハイフンなし） %>
              <%= f.text_field :postal_code, class: "postal_code" %><br>
              <%= f.label :住所 %>
              <%= f.text_field :address, class: "address" %><br>
              <%= f.label :宛名 %>
              <%= f.text_field :name, class: "name" %> <br></br>
              <%= f.hidden_field :status, {value: 'wait'} %>
              <%= f.hidden_field :total_payment, :value => @sum + @order.shipping_cost %>
          <%= f.submit '確認画面へ進む', class: "btn btn-info active" %>
      <% end %></label>

    </div>
  </div>
</div>