<div class="container">
  <div class="row">
    <!--ジャンル部分-->
    <div class='col-xs-3'>
        <div style="margin-top: 40px;" >
          <h2>ジャンル検索</h2>
          <table class='table'>
              <% @genres.each do |genre| %>
                <tr>
                  <th><%= link_to genre.name, items_path(genre: genre.id) %></th>
                </tr>
              <% end %>
          </table>
        </div>
    </div>

    <!--一覧部分-->
    <div class="col-xs-9">
      <% if  @genre.nil? %>
      <h1>商品一覧</h1>
      <% else %>
      <h1><%= @genre.name %>一覧</h1>
      <% end %>
      
      <p>(全<%= @items.count %>件)</p> <br></br>
      <table class="table">
        <tbody>
          <% @items.each do |item| %>
            <tr>
              <td>
                <%= attachment_image_tag item, :image, :fill, 60,  60, format: 'jpeg' %>
              </td>
              <td><%= link_to item.name, item_path(item)%></td>
              <td><%= item.price %>円</td>
            </tr>
          <% end %>
          <%= paginate @items %>
        </tbody>
      </table>
    </div>
  </div>
</div>