<!DOCTYPE html>
<html>
  <head>
    <title>Naganocake</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <header class="navbar navbar-inverse">
  <div class="container">
    <nav class="nav navbar-nav navbar-left">
      <p class="navbar-text">Naganocake</p>
    </nav>
    <nav>
      <ul class="nav navbar-nav navbar-right">
          <% if costomer_signed_in? %>
            <div><h6>costomerログイン中</h6></div>
          <% else %>
            <div>costomerログアウト中</div>
          <% end %>
          <% if admin_signed_in? %>
            <div><h6>adminログイン中</h6></div>
          <% else %>
            <div>adminログアウト中</div>
          <% end %>
      </ul>
    </nav>
  </div>
</header>

  <body>
    <%= yield %>
  </body>
</html>
